version: 2
workflows:
  version: 2
  main:
    jobs:
      - build:
          filters: &all_commits
            tags:
              only: /.*/
      - kotlin-smoke-test:
          filters: *all_commits
      - protobufjs-load-test:
          filters: *all_commits
      - github_release:
          requires:
            - build
            - kotlin-smoke-test
            - protobufjs-load-test
          filters: &releases
            branches:
              ignore: /.*/
            tags:
              only: '/^v[\d.]+$/'
      - push-image:
          requires:
            - build
            - kotlin-smoke-test
            - protobufjs-load-test
          filters: *releases

jobs:
  build:
    docker:
      - image: golang:1.11
    environment:
      GOPATH: /go
    working_directory: /go/src/github.com/googleapis/gapic-showcase
    steps:
      - checkout
      - run:
          name: Check formatting
          command: "! gofmt -l ./ 2>&1 | read"
      - run:
          name: Lint code
          command: "! go lint ./... 2>&1 | read"
      - run:
          name: Examine and report suspicious constructs
          command: "! go tool vet ./ 2>&1 | read"
      - run:
          name: Install dependencies
          command: go get -v -d -t && go install
      - run:
          name: Run tests
          command: go test ./... -coverprofile=coverage.txt -covermode=atomic
      - run:
          name: Spin up showcase server.
          command: gapic-showcase run
          background: true
      - run:
          name: Sanity check the server.
          command: |
            gapic-showcase echo hello world!
            gapic-showcase expand one two three o'clock four o'clock rock

            # The echo needs to sleep to give time for the stream response
            (echo -e "hello\nworld" && sleep .1) | gapic-showcase collect
            (echo -e "hello\nworld" && sleep .1) | gapic-showcase chat
            gapic-showcase pagedExpand --page_size 3 --page_token 3 one two three o'clock four o'clock rock
            gapic-showcase wait --duration 1s hello world!
            gapic-showcase getOperation --name operations/google.showcase.v1alpha3.Echo/Wait/CgwIxNqN3gUQsI6MxgIaDQoLaGVsbG8gd29ybGQ=
      - run:
          name: Submit coverage data to codecov.
          command: bash <(curl -s https://codecov.io/bash)
          when: always

  kotlin-smoke-test:
    machine: true
    steps:
      - checkout
      - run:
          name: Stage showcase in proto dependencies
          command: |
              git clone -b input-contract https://github.com/googleapis/api-common-protos.git
              mkdir -p api-common-protos/google/showcase/v1alpha3/
              cp schema/* api-common-protos/google/showcase/v1alpha3/
      - run:
          name: Run kotlin generation
          command: |
            mkdir koutput
            docker run --rm \
              --mount type=bind,source="$(pwd)"/api-common-protos,target=/proto \
              --mount type=bind,source="$(pwd)"/koutput,target=/generated \
              gcr.io/kotlin-gapic/kgen:0.0.1

  protobufjs-load-test:
    docker:
      - image: node:8
    steps:
      - checkout
      - run:
          name: Install protobuf loader
          command: |
            npm install google-proto-files
      - run:
          name: Check if protos can be loaded by protobufjs
          command: |
            # TODO(landrito): make this scalable by using a glob.
            node -e "require('google-proto-files').loadSync('schema/echo.proto');"
            node -e "require('google-proto-files').loadSync('schema/testing.proto');"

  github_release:
    docker:
      - image: golang:1.11
    environment:
      GOPATH: /go
    working_directory: /go/src/github.com/googleapis/gapic-showcase
    steps:
      - checkout
      - run:
          name: Install server
          command: |
            go get
            go install
            echo "export VERSION=$(gapic-showcase --version)" >> $BASH_ENV
      - run:
          name: Install protoc
          command: |
            apt-get update && apt-get install -y unzip
            curl -o ~/protoc3.zip -L https://github.com/google/protobuf/releases/download/v3.6.1/protoc-3.6.1-linux-x86_64.zip
            unzip ~/protoc3.zip -d ~/protoc3
            mv ~/protoc3/bin/* /usr/local/bin/
            mv ~/protoc3/include/* /usr/local/include/
      - run:
          name: Create release assets
          command: go run util/cmd/release/main.go
      - run:
          name: Attach compiled stuff to the tag.
          command: |
            go get github.com/tcnksm/ghr
            ghr -t ${GITHUB_TOKEN} \
                -u ${CIRCLE_PROJECT_USERNAME} \
                -r ${CIRCLE_PROJECT_REPONAME} \
                -c ${CIRCLE_SHA1} \
                --prerelease \
                -n v${VERSION} \
                -b "[![release level](https://img.shields.io/badge/release%20level-alpha-orange.svg?style&#x3D;flat)](https://cloud.google.com/terms/launch-stages)" \
                v${VERSION} ./dist/

  push-image:
    machine: true
    steps:
      - checkout
      - run:
          name: Setup Auth
          command: |
            echo ${GCLOUD_SERVICE_KEY} > ${HOME}/gcp-key.json
            gcloud auth activate-service-account --key-file ${HOME}/gcp-key.json
            gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
      - run:
          name: Build docker image
          command: docker build -t gcr.io/gapic-showcase/gapic-showcase .
      - run:
          name: Get version
          command: echo "export VERSION=$(docker run -it gcr.io/gapic-showcase/gapic-showcase --version | perl -pe '($_)=/([0-9]+([.][0-9]+)+)/')" >> $BASH_ENV
      - run:
          name: Tag image
          command: docker tag gcr.io/gapic-showcase/gapic-showcase gcr.io/gapic-showcase/gapic-showcase:${VERSION}
      - run:
          name: Push image
          command: |
            gcloud docker -- push gcr.io/gapic-showcase/gapic-showcase:latest
            gcloud docker -- push gcr.io/gapic-showcase/gapic-showcase:${VERSION}
