version: 2
workflows:
  version: 2
  main:
    jobs:
      - build
      - release:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: '/^v\d+(\.[\d]+)*$/'
jobs:
  build:
    docker:
      - image: golang:1.11
    environment:
      GOPATH: /go
    working_directory: /go/src/github.com/googleapis/gapic-showcase
    steps:
      - checkout
      - run:
          name: Check formatting
          command: "! gofmt -l ./ 2>&1 | read"
      - run:
          name: Lint code
          command: "! go lint ./... 2>&1 | read"
      - run:
          name: Examine and report suspicious constructs
          command: "! go tool vet ./ 2>&1 | read"
      - run:
          name: Install dependencies
          command: go get -v -d -t && go install
      - run:
          name: Run tests
          command: go test ./... -coverprofile=coverage.txt -covermode=atomic
      - run:
          name: Spin up showcase server.
          command: gapic-showcase start
          background: true
      - run:
          name: Sanity check the server.
          command: |
            gapic-showcase echo hello world!
            gapic-showcase expand one two three o'clock four o'clock rock

            # The echo needs to sleep to give time for the stream response
            (echo -e "hello\nworld" && sleep .1) | gapic-showcase collect
            (echo -e "hello\nworld" && sleep .1) | gapic-showcase chat
      - run:
          name: Submit coverage data to codecov.
          command: bash <(curl -s https://codecov.io/bash)
          when: always

  release:
    docker:
      - image: golang:1.11
    environment:
      GOPATH: /go
    working_directory: /go/src/github.com/googleapis/gapic-showcase
    steps:
      - checkout
      - run:
          name: Install server
          command: |
            go get
            go install
            echo "export VERSION=$(gapic-showcase --version)" >> $BASH_ENV
      - run:
          name: Cross compile the server binary
          command: |
            # This is a windows dependency that is not implicitly got at
            # the top level go get.
            go get github.com/inconshreveable/mousetrap
            go get github.com/mitchellh/gox
            gox -os="windows linux" -arch="amd64 arm" -output \
                "dist/gapic-showcase-v1alpha2-${VERSION}-{{.OS}}-{{.Arch}}" \
                github.com/googleapis/gapic-showcase/
            gox -os="darwin" -arch="amd64" -output \
                "dist/gapic-showcase-v1alpha2-${VERSION}-{{.OS}}-{{.Arch}}" \
                github.com/googleapis/gapic-showcase/
            ls dist
      - run:
          name: Install protoc
          command: |
            apt-get update && apt-get install -y unzip
            curl -o ~/protoc3.zip -L https://github.com/google/protobuf/releases/download/v3.6.1/protoc-3.6.1-linux-x86_64.zip
            unzip ~/protoc3.zip -d ~/protoc3
            mv ~/protoc3/bin/* /usr/local/bin/
            mv ~/protoc3/include/* /usr/local/include/
      - run:
          name: Get proto dependencies.
          command: |
            git clone -b input-contract \
                https://github.com/googleapis/api-common-protos.git \
                tmp/api-common-protos
      - run:
          name: Stage the showcase protos with it's dependencies.
          command: |
            mkdir -p tmp/api-common-protos/google/showcase/v1alpha2
            cp schema/echo.proto tmp/api-common-protos/google/showcase/v1alpha2/
      - run:
          name: Compile the proto descriptor set.
          command: |
            protoc --proto_path=tmp/api-common-protos --include_imports \
                --include_source_info \
                -o dist/gapic-showcase-v1alpha2-${VERSION}.desc \
                tmp/api-common-protos/google/showcase/v1alpha2/echo.proto
            ls dist
      - run:
          name: Make a tarball of the protos.
          command: |
            mkdir tmp/gapic-showcase-v1alpha2-${VERSION}-protos
            cp -rv tmp/api-common-protos/google tmp/gapic-showcase-v1alpha2-${VERSION}-protos
            cd tmp/ && tar -zcvf ../dist/gapic-showcase-v1alpha2-${VERSION}-protos.tar.gz gapic-showcase-v1alpha2-${VERSION}-protos
            ls dist
      - run:
          name: Attach compiled stuff to the tag.
          command: |
            go get github.com/tcnksm/ghr
            ghr -t ${GITHUB_TOKEN} \
                -u ${CIRCLE_PROJECT_USERNAME} \
                -r ${CIRCLE_PROJECT_REPONAME} \
                -c ${CIRCLE_SHA1} v${VERSION} ./dist/
