version: 2
workflows:
  version: 2
  main:
    jobs:
      - build
      - release:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: '/^v\d+(\.\d+)*$/'
jobs:
  build:
    docker:
      - image: golang:1.11
    environment:
      GOPATH: /go
    working_directory: /go/src/github.com/googleapis/gapic-showcase
    steps:
      - checkout
      - run:
          name: Check formatting
          command: "! gofmt -l ./ 2>&1 | read"
      - run:
          name: Lint code
          command: "! go lint ./... 2>&1 | read"
      - run:
          name: Examine and report suspicious constructs
          command: "! go tool vet ./ 2>&1 | read"
      - run:
          name: Install dependencies
          command: go get -v -d -t && go install
      - run:
          name: Run tests
          command: go test ./... -coverprofile=coverage.txt -covermode=atomic
      - run:
          name: Spin up showcase server.
          command: gapic-showcase start
          background: true
      - run:
          name: Sanity check the server.
          command: |
            gapic-showcase echo hello world!
            gapic-showcase expand one two three o'clock four o'clock rock

            # The echo needs to sleep to give time for the stream response
            (echo -e "hello\nworld" && sleep .1) | gapic-showcase collect
            (echo -e "hello\nworld" && sleep .1) | gapic-showcase chat
      - run:
          name: Submit coverage data to codecov.
          command: bash <(curl -s https://codecov.io/bash)
          when: always

  release:
    docker:
      - image: golang:1.11
    environment:
      GOPATH: /go
    working_directory: /go/src/github.com/googleapis/gapic-showcase
    steps:
      - checkout
      - run:
          name: Install protoc
          command: |
            apt-get update && apt-get install -y unzip
            curl -o ~/protoc3.zip -L https://github.com/google/protobuf/releases/download/v3.6.1/protoc-3.6.1-linux-x86_64.zip
            unzip ~/protoc3.zip -d ~/protoc3
            mv ~/protoc3/bin/* /usr/local/bin/
            mv ~/protoc3/include/* /usr/local/include/
      - run:
          name: Create release assets
          command: |
            go get ./util/release
            go run util/release/main.go
      - run:
          name: Attach compiled stuff to the tag.
          command: |
            go get github.com/tcnksm/ghr
            ghr -t ${GITHUB_TOKEN} \
                -u ${CIRCLE_PROJECT_USERNAME} \
                -r ${CIRCLE_PROJECT_REPONAME} \
                -c ${CIRCLE_SHA1} v${VERSION} ./dist/
